@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background: var(--secondary-dark-500-text, #27272E);
   font-family: 'Aventa';
}
body + .scrolldisabled {
   overflow: hidden;
}
.backgrounddd {
   position: absolute;
}
.element-with-gradient {
   background-image: linear-gradient(to top left, transparent 0%, rgba(255, 255, 255, 0.38) 22%, transparent 100%);
   /* Additional styling for height and bottom position if needed */
   padding: 2px;
   bottom: 0;
   position: relative;
   width: 100%; /* Ensures the gradient spans the entire width of the element */
 }
 .arrow {
   appearance: none;
   -webkit-appearance: none;
   transition: all 0.1s ease;
}
.image-mr {
   background-image: url(../images/18.webp);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 448px;
   z-index: -1;
}
.image-co {
   background-image: url(../images/19.webp);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 448px;
   z-index: -1;
}
.image-max {
   background-image: url(../images/max.webp);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 448px;
   z-index: -1;
}
 .containerprivacy {
   max-width: 950px;
   margin: auto;
 }
 .tourcheckbox {
   appearance: hidden;
   -webkit-appearance: none;
   width: 20px;
   height: 20px;
   fill: #27272E;
   stroke-width: 1px;
   stroke: #484856;
 }
 body.no-scroll {
   overflow:hidden;
   height: 100%;
 }
 .react-multi-carousel-dot-list3 {
   gap: 8px !important;
   left: 0 !important;
   top: 3em !important;
   height: min-content;
   justify-content: start !important;
   width: min-content;
 }
 .tourcheckbox:checked {
   border:#FF7446;
   border-radius: 100px;
   content: '';
 }
 .defining {
   background-image: url(../images/defining.png);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
 }
 .linear {
   background-image: url('../images/linear.png');
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
 }
 html {
   scroll-behavior: smooth;
 }
 .hovereffect:active span svg circle {
   fill: #ff7446;
   transition: all 0.3s ease;
 }
.hovereffect:hover svg circle {
   fill: #FF7446;
   transition: all 0.3s ease;
}
@keyframes slide {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(-100%);
   }
}
.logos-slide {
   animation: 10s slide infinite linear;
   display: inline-block;
}
.hovereffect svg circle{
   transition: all 0.3s ease;
}
.background-blur {
   background: rgba(0, 0, 0, 0.70);
   backdrop-filter: blur(8px);
}
.background-imagges {
    background-image: url(../images/renamed2.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.react-multi-carousel-track {
   overflow: visible !important
}
@media screen and (max-width: 1048px){
   .container {
      max-width: 90%;
   }
   h1 {
      font-size: 24px;
   }
   p {
      font-size: 14px;
   }
   .background-imagges {
      background-image: url(../images/mobliever.webp);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
   }
   .carousel-item {
      overflow: visible;
   }
   .background-kc{
      background-repeat: no-repeat !important;
      background-position: left !important;
      background-size: cover !important;
      background-image: url(../images/Rectangle-100.webp) !important;
      height: 500px !important;
   }
   .background-cg{
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      background-image: url(../images/coventgardenimg.webp) !important;
      height: 500px !important;
   }
   .background-sh{
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      background-image: url(../images/soho.webp) !important;
      height: 500px !important;
   }
   .background-as {
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      background-image: url(../images/amsterdam.webp);
      height: 500px !important;
   }
   .background-ld {
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      background-image: url(../images/london.webp);
      height: 500px !important;
   }
}
::-webkit-scrollbar{
   display: none;
}
.hovereffect:hover svg rect {
   fill:#FF7446;
   transition: all 0.3s ease;
}
.hovereffect svg rect {
   transition: all 0.3s ease;
}
.container {
   width: 1280px;
   margin: auto;
}
.background-sfws {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-image: url(../images/thisisdiff.webp);
   height: 100%;
}
.background-ld {
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   background-image: url(../images/london.webp);
   height: 390px;
}
.background-as {
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   background-image: url(../images/amsterdam.webp);
   height: 390px;
}
.background-kc {
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   background-image: url(../images/Rectangle-100.webp);
   height: 390px;
}
section {
   background: white;
}
.background-sh{
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   background-image: url(../images/soho.webp);
   height: 390px;
}
h1 {
   color: #1E1E26;
}
p{
   color: #1E1E26;
}
.background-cg{
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   background-image: url(../images/coventgardenimg.webp);
   height: 390px;
}
/*Checkbox*/
.tourcheckbox {
   position: relative;
   display: inline-block;
   width: 20px;
   height: 20px;
   margin: 0;
   padding: 4px;
   appearance: none;
   border: 1px solid #27272E;
   background-color: #484856;
   border-radius: 50px;
   cursor: pointer;
  }
  .tourcheckbox:after {
   display: none;
  }
  .tourcheckbox:focus {
   outline: none;
  }
  .tourcheckbox:checked{
   border: 1px solid #FF7446;
  }
  .tourcheckbox:checked::after {
   content: "";
   display: block;
   position: absolute;
   width: 10px;
   height: 10px;
   background-color: #FF7446;
   border-radius: 50px;
  }